streamlit==1.29.0
numpy>=1.24
matplotlib>=3.7
rasterio>=1.3
requests>=2.31
pillow>=9.0
pyparsing>=3.0.9
fonttools>=4.39
cycler>=0.11
kiwisolver>=1.4
markdown-it-py>=3.0.0
mdit-py-plugins>=0.4.0
aiohttp>=3.8
click>=8.0
certifi>=2022.12.7
attrs>=21.2.0
tqdm>=4.65.0
snuggs>=1.4.7